<div class="row">
  <div class="col-md-12 col-centered">
    <h2 class="text-center">Your profile</h2>
  </div>
</div>
<div class="centered">
<% if @user.profile_pic.url %>
  <%= image_tag @user.profile_pic.detail.url %>


<% else %>
  <img src="http://fillmurray.com/200/300">
<% end %>


<h3><%= @user.first_name %> <%= @user.last_name %></p>


</div>
