<main>
<div class="shader">
<div class="centered">
<h1>Glide Guestlist</h1>
<small>Existing user? </small>
<p class="home-white-btn"><%= link_to "Login", new_user_session_path %></p>
<small>New? Sign up for free</small>
<p class="green-btn"><%= link_to "Register", new_user_registration_path %></p>
</main>
</div>
</div>
